<%- include("../partials/header.ejs") %>
<body>
    <div class="form-container">
        <form method="POST" action="/register">

            <label for="username-field">User name</label>
            <input type="text" name="username" id="username-field" placeholder="Johnny Appleseed">
            
            <label for="email-field">Email</label>
            <input type="email" name="email" id="email-field" placeholder="Johnny@bigapples.com">

            <label for="password-field">Password</label>
            <input type="password" name="password" id="password-field">

            <button type="submit">Login</button>

        </form>
    </div>
</body>
</html>