<%- include("../partials/header.ejs") %>
<body>
    <% if(user.username) { %>
        <h1><%= user.username %></h1>
    <% } else { %>
        <h1>Hello Workspace</h1>
    <% } %>

    <h2>Boards</h2>
    <% if(boards){ %>
        <% for(let ii = 0; ii < boards.length; ii++) { %>
            <% const board = boards[ii] %>
            <p><%= board.name %></p>
        <% } %>
    <% } else { %>
        <h5>no boards found!</h5>
    <% } %>
</body>
</html>