@use "../varibles" as *;
    .error-message{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        height: 5vh;
        color: $beige;
        background-color: lighten($orange,10%);
    }