<%-include('../../partials/header.ejs')%>
<body>
    <h1>New Task!</h1>
    <form action="/tasks" method="POST">
        <label for="task-name">enter name</label>
        <input type="text" id="task-name" name = "name" placeholder="task name">
        <label for="task-content">task</label>
        <textarea name="content" id="task-content" cols="30" rows="10"></textarea>
        <label for="task-dueDate">due date</label>
        <input type="date" id="task-dueDate" name="dueDate">
        <label for="task-board">enter board</label>
        <select name="board" id="task-board">
            <%for (let board of boards){%>
                <option value="<%=board.id%>"><%=board.name%></option>
                
                <%}%>
            
        </select>

        <button>submit</button>
    </form>
    
</body>
</html>