@use "../varibles" as *;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.task-card-indivual{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 10vw;
    padding: 3vh 7vw;
    background-color: $beige;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.5);
    form{
        display: grid;

        *{
            padding: 1vh;
        }
        h1{
            color:$primary;
        }
        label{
            font-size: 1.5rem;
            color: $primary;
        }
        input{
            border-radius: 5px;
        }
        textarea{
            border-radius: 5px;
        }
        select{
            border-radius: 5px;
        }
        button{
            margin-top: 2vh;
            border-radius: 10px;
            background-color: $orange;
            color: $beige;
        }
    }
}

.task-show-container{
    display: grid;
    .card-label{
        color: $primary;
    }
    .button-container{
        display: flex;
        justify-content: space-evenly;
        button{
            margin-top: 2vh;
            border-radius: 10px;
            padding: 1vh;
            background-color: var(--orange);
            color: var(--beige);
        }
    }
    
}



