@use "../varibles" as *;

.main-section___newboard {
    margin: 10vh auto auto 15vw;
    display: flex;
}

.board-form___newboard {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: $beige;
    padding: 15px;
    border-radius: 5px;
    margin-left: 21px;
    opacity: 0;
    display: none;

    label {
        color: $primary;
        font-size: 1.2rem;
    }
    input {
        padding: 5px;
        margin: 0 0 10px 0;
        width: 30vw;
    }
    button {
        background-color: $orange;
        color: $beige;
        padding: 5px 7px;
        border: 1px solid;
        border-radius: 3px;
    }
}